.popup {
    position: fixed;
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 580px;
    width: 60vw;
    max-width: 900px;
    height: fit-content;
    max-height: 100vh;
    /* height: 95vh; */
    background-color: var(--darkGray);
    border: 2px solid var(--accent);
    border-radius: 4px;
    box-shadow: 1px 1px 10px 3px black;
    z-index: 110;
    overflow-y: scroll;

    visibility: hidden;
    opacity: 0;
    transform: translate(254px, 107px) scale(.1);

    transition: opacity .75s, visibility .75s, transform .75s;
}
/* .popup::-webkit-scrollbar {
    display: none;
}
.popup {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
} */
.popup-active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px) scale(1);
}

.popup-header {
    font-size: 1.4rem;
    padding: 40px;
    text-align: center;
}

.popup-body {
    display: flex;
    flex-wrap: wrap;
}

.popup-item {
    width: 50%;
    padding: 10px 40px;
}

.popup-bottom {
    padding: 20px
}

.popup-links {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.popup-links button {
    height: 50px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    color: var(--accent);
    border: 2px solid var(--accent);
    background: transparent;
    margin-top: 20px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    outline: none;

    transition: color .5s;
}
.popup-links button:hover,
.popup-links button:focus {
    cursor: pointer;
    outline: none;
    color: var(--darkGray);
}
.popup-links button:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 180%;
    height: 150%;
    background-color: var(--accent);
    z-index: -1;

    transition: transform .5s ease-in-out;
    transform: translate(-120%, 0) skew(-30deg);
}
.popup-links button:hover::before, 
.popup-links button:focus::before {
    transform: translate(-10%, 0)
    skew(-15deg);
}

@media only screen and (max-width: 600px) {
    .popup {
        min-width: 100vw;
        width: 100vw;
    }

    .popup-item {
        width: 100%;
    }
}